// Family font
$family: "Fira Sans", sans-serif;

// colors
$main-bg: #E1EBFA;
$btn-bg: #2F3F9F;
$black-t: #212529;
$grey-t: #6C757D;
$orange-bg: #F2E9AC;
$cyan-bg: #CAF0C7;
$pink-bg: #FFE9F3;
$strong-cyan: #CDF7F6;
$red-bg: #A30000;
$f7-bg: #F7F7F7;
$border-c:#DEE2E6;
$footer-bg: #F8F9FA;
$star-bg: #FFC107;
$d-bg: #DDDDDD;
$blue: #B8E1FF;
$white-c: #fff;
$blog-bg: #F7F4E9;